.tooltip-container {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  transition: all 0.4s ease;
  z-index: 8;
}

.tooltip {
  background-color: #fff;
  border-radius: 5px;
  transition: all 0.1s linear;
  padding: 7px;
  margin: 0 2px 0 0;
  box-shadow: 0px 7px 26px 0px rgba(0, 0, 0, 0.15);
}

.link-rect,
.legend-item {
  transition: all 0.4s ease;
  cursor: pointer;
}

.timelines-container {
  position: relative;
  margin: 0 auto;
}

.entity-label {
  font-size: 1em;
  text-overflow: ellipsis;
  overflow: hidden;
}

.entity-label:hover {
  clip-path: none;
}

.legend {
  position: sticky;
  background: #f5f5f5;
  top: 80px;
  z-index: 6;
}

.legend-container {
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto;
  margin: 10px;
}
.legend-container .colorLegendItem {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  display: inline-block;
  margin-right: 5px;
  vertical-align: text-top;
}

.legend-item {
  text-align: left;
  display: inline;
  margin: 5px;
}

.timeline {
  position: relative;
  top: 0px;
  left: 0px;
}

.group.has_status rect,
.legend-item--hidden {
  opacity: 0.2;
}

.group.has_status.part rect.part {
  opacity: 1;
}
.group.has_status.col rect.col {
  opacity: 1;
}
.group.has_status.poss rect.poss {
  opacity: 1;
}
.group.has_status.claim rect.claim {
  opacity: 1;
}
.group.has_status.prot rect.prot {
  opacity: 1;
}
.group.has_status.ass rect.ass {
  opacity: 1;
}
.group.has_status.occ rect.occ {
  opacity: 1;
}
.group.has_status.lea rect.lea {
  opacity: 1;
}
.group.has_status.neut rect.neut {
  opacity: 1;
}
.group.has_status.man rect.man {
  opacity: 1;
}
.group.has_status.sov rect.sov {
  opacity: 1;
}
.group.has_status.sov_un rect.sov_un {
  opacity: 1;
}
.group.has_status.sov_li rect.sov_li {
  opacity: 1;
}
.group.has_status.NA rect.NA {
  opacity: 1;
}
.group.has_status.dis rect.dis {
  opacity: 1;
}
.group.has_status.dep rect.dep {
  opacity: 1;
}
.group.has_status.vass rect.vass {
  opacity: 1;
}
.group.has_status.disc rect.disc {
  opacity: 1;
}
.group.has_status.inf rect.inf {
  opacity: 1;
}
.group.has_status.int rect.int {
  opacity: 1;
}
