.tooltip-container {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  transition: all 0.4s ease;
}

.tooltip {
  background-color: #fff;
  border-radius: 5px;
  transition: all 0.1s linear;
  padding: 7px;
  margin: 0 2px 0 0;
  box-shadow: 0px 7px 26px 0px rgba(0,0,0,0.15);
}

.link-rect {
  transition: all 0.4s ease;
}

.timelines-container {
  position: relative;
  margin: 0 auto;
}

.entity-label {
  clip-path: url(#name-area);
}

.entity-label:hover {
  clip-path: none;
}